* {
	box-sizing: border-box;
	list-style: none;
	color: white;
	text-decoration: none;
}
 
body {
	width: 100vw;
	height: 1000px;
	margin: 0;
	background-image: url(../resources/Team3/images/chrismas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.team_title{
	margin-bottom: 100px;
	text-align: center;
	width: 100vw;
	height: 130px;
	color: white;
	background: linear-gradient(to bottom, black, darkblue);
}

.team_title>h1{
	width: 40vw;
	height: 100%;
	display: inline-block;
}

h1>img{
	vertical-align: middle;
	width: 100px;
	height: 100px;
}

.team_title>ul{
	float: right;
	width: 60vw;
	height: 100%;
}

.team_title>ul>li{
	width: 7vw;
	text-align: center;
	display: inline-block;
}

.team_title>ul>li>a{
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
	text-decoration: none;
	color: white;
}

.mainbody{
	width: 100vw;
}

.leftbody{
	float: left;
	width: 30vw;
	height: 100%;
	/* background-color: white; */
}

.leftbody>ul>li{
	width: 100%;
	height: 190px;
	margin-bottom: 100px;
	font-size: 30px;
	font-weight: bold;
	line-height: 190px;
}

.leftbody>ul>li>a>img{
	width: 190px;
	height: 190px;
	margin-right: 30px;
	vertical-align: middle;
}

.leftbody>ul>li>span{
	margin-left: 150px;
}

.rightbody{
	float: right;
	width: 70vw;
	height: 1000px;

}

.rightbody>div{
	width: 70vw;
	height: 273px;
}

.fa-snowflake {
	animation: fall 5s linear forwards;
	color: #fff;
	position: absolute;
}

@keyframes fall {
	to {
		transform: translateY(140vh);   /*눈이 최종적으로 떨어질 수 있는 y값 조절*/
	}
}