

img{
    height: 100px;
    width: 100px;
    margin-left: 50%;
}

body{
    margin-left: 300px;
    margin-right: 300px;
}

/* .navi{
    text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


} */


.navi > li {
   float: left;
   margin-top: 10px;
   background: darkgrey;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 30px;
text-decoration: none;
   
}

.navi > li > a {
   height: 40px;
   width: 180px;
   line-height: 40px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   background-color: darkgray;
   color: black;
   text-decoration-line: none;
   margin-left: 0%;

   
}
.navi > li > a:hover {
   background-color: #30a3f3;
}
.submenu {
   width: 150px;
   height: 80px;
   position: absolute;
   display: none;
   z-index: 1;
   background: #aaa;
   text-align: left;
  
}
.submenu > li > a {
  
   height: 35px;
   line-height: 35px;
   font-size: 12px;
   font-weight: bold;
   text-align: left;
   color: #fff;
   text-decoration: none; 
   float: left;
   
}
.submenu > li > a:hover {
   background-color: #30a3f3;
   
}











ul>li{
    list-style: none;
}



.layout{
    max-width: 600px;
    margin: 100px;
}

.qna{
    list-style: none;

    
}
.qna > li{

  padding: 20px;
  box-sizing: border-box;
}
.qna > li:nth-child(n+2){ /* 아이템 구분 점선 */
  border-top: 1px dashed #aaa;

}
.qna input {
  display: none;
}

.qna label { /* 제목 - 클릭 영역 */
  font-weight: bold;
  font-size: 15pt;
  color: #000;
  margin: 20px 20px 20px;
  cursor: pointer;
}
.qna label::before { /* 제목 앞 화살표 */
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #a00;
  margin: 2px 0 0 8px;
  float: left;
}
.qna input:checked + label::before { /* 내용 펼침 상태 제목 앞 화살표 */
  border: 8px solid transparent;
  border-top: 8px solid #a00;
  border-bottom: 0;
  margin: 8px 4px 0;
}

.qna div { /* 내용 영역 - 기본 감춤 상태 */
  display: none;
  color: #666;
  font-size: 0.9375em;
  overflow: hidden;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  transition: max-height 0.4s;
}
.qna input:checked + label + div { /* 내용 영역 펼침 */
  display: block;
}

.qnabox{color: rgb(0, 0, 0);
        background: #666;
        padding: 10px 0 10px 30px;
    	height: 150px;
	width: auto;
	border: 0px none rgb(48, 48, 48);
	border-top: 0px none rgb(48, 48, 48);
	border-right: 0px none rgb(48, 48, 48);
	border-bottom: 0px none rgb(48, 48, 48);
	border-left: 0px none rgb(48, 48, 48);
	margin: 0px;
	padding: 10 10 10 10px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;}


    .qnabox>h3{
    font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 28px;
	text-decoration: none solid rgb(48, 48, 48);
	text-align: center;
    margin-top: 50px;
 
    }
 
    footer{
        position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;
    background: rgb(230, 221, 221);
    }